<div id="Overview" class="tabcontent">
  <p style="font-size: 24px">Popular Repositories</p>
  <div style="margin-right: 7rem">
    <div style="display: flex">
      <div class="Repos-data">
        <div class="flex_between">
          <span> <a href="#" class="repo-text">Python-Programs</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">Projects created using python</p>
        <span class="dot" style="background-color: #db4925"></span>
        <span>&nbsp;Python</span>
      </div>
      <div class="Repos-data">
        <div class="flex_between">
          <span><a href="#" class="repo-text"> HTML</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">HTML files</p>
        <span class="dot" style="background-color: #253adb"></span>
        <span>&nbsp;HTML</span>
      </div>
    </div>
    <div style="display: flex">
      <div class="Repos-data">
        <div class="flex_between">
          <span> <a href="#" class="repo-text">CSS</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">CSS files</p>
        <span class="dot" style="background-color: #25db6e"></span>
        <span>&nbsp;CSS</span>
      </div>
      <div class="Repos-data">
        <div class="flex_between">
          <span> <a href="#" class="repo-text">JavaScript</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">JS Practice</p>
        <span class="dot" style="background-color: #d5db25"></span
        ><span>&nbsp;JavaScript</span>
      </div>
    </div>
    <div style="display: flex">
      <div class="Repos-data">
        <div class="flex_between">
          <span><a href="#" class="repo-text"> C++ Programs</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">C++ Practice</p>
        <span class="dot" style="background-color: #cf25db"></span>
        <span>&nbsp;C++</span>
      </div>
      <div class="Repos-data">
        <div class="flex_between">
          <span><a href="#" class="repo-text"> Java Programs</a> </span>
          <span class="public-tag"> Public </span>
        </div>
        <p class="subtext">Java Practice</p>
        <span class="dot" style="background-color: #8f25db"></span>
        <span>&nbsp;Java</span>
      </div>
    </div>
    <div style="margin-top: 2rem">190 contributions in the last year</div>
    <img
      src="/Public/Images/contri.png"
      style="
        width: 100%;
        height: auto;
        border: 2px rgb(214, 214, 214) solid;
        border-radius: 5px;
      "
    />
  </div>
  <div style="margin-top: 2rem">
    Contributions activity<br />
    <div style="margin-left: 1rem; margin-top: 2rem; display: flex">
      <section style="width: 80%">
        <section style="display: flex">
          <span>February 2023</span>
          <span><hr style="width: 1700%; margin-left: 2rem" /></span>
          <p style="text-align: center; padding-left: 7rem">
            Devansh312 has no activity for this time period.
          </p>
        </section>
        <button class="activ-but">Show more activity.</button>
        <p style="margin-top: 2rem">
          Seeing something unexpected?Take a look at the
          <a
            href="https://www.google.com"
            style="text-decoration: none; color: rgb(0, 81, 255)"
            >GitHub Profile Guide</a
          >
        </p>
      </section>
      <section>
        <div>
          <button class="side-but">2023</button>
        </div>
        <div>
          <button class="side-but">2022</button>
        </div>
        <div>
          <button class="side-but">2021</button>
        </div>
      </section>
    </div>
  </div>
</div>
