<div>
  <input
    type="search"
    placeholder="Find a Repository.."
    style="width: 500px; height: 2rem; border-radius: 10px"
  />
  <span class="repo-down-search">
    <button type="drop" class="repo-dropbtn" onclick="dropClick1()">
      Type &#8681;
    </button>
    <div class="repo-dropdown-content1" id="drop1">
      <div style="width: 100%">
        <span style="text-align: left; padding: 0.2rem">Select type</span>
        <span style="margin-left: 3rem"
          ><button onclick="hideContent1()">x</button></span
        >
      </div>
      <hr />
      <div class="rep-dat">All</div>
      <hr />
      <div class="rep-dat">Sources</div>
      <hr />
      <div class="rep-dat">Archieved</div>
      <hr />
      <div class="rep-dat">Forks</div>
      <hr />
      <div class="rep-dat">Mirrors</div>
      <hr />
      <div class="rep-dat">Templates</div>
    </div>
  </span>
  <span class="repo-down-search">
    <button type="drop" class="repo-dropbtn" onclick="dropClick2()">
      Languages &#8681;
    </button>
    <div class="repo-dropdown-content2" id="drop2">
      <div style="width: 100%">
        <span style="text-align: left; padding: 0.2rem">Select type</span>
        <span style="margin-left: 3rem"
          ><button onclick="hideContent2()">x</button></span
        >
      </div>
      <hr />
      <div class="rep-dat">All</div>
      <hr />
      <div class="rep-dat">HTML</div>
      <hr />
      <div class="rep-dat">CSS</div>
      <hr />
      <div class="rep-dat">JavaScript</div>
      <hr />
      <div class="rep-dat">Python</div>
    </div>
  </span>
  <span class="repo-down-search">
    <button type="drop" class="repo-dropbtn" onclick="dropClick3()">
      Sort &#8681;
    </button>
    <div class="repo-dropdown-content3" id="drop3">
      <div style="width: 100%">
        <span style="text-align: left; padding: 0.2rem">Select type</span>
        <span style="margin-left: 3rem"
          ><button onclick="hideC
